<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <!---This was present by default-->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <!---Setting the connection string(s) for database connectivity-->
  <connectionStrings>
    <add name="connection_string_mysql" connectionString="Server=localhost;Port=3306;Database=test;Uid=root;Pwd=253090;" providerName="MySql.Data.MySqlClient" />
    <add name="connection_string_oracle" connectionString="Data Source=XE;User ID=sidsinghdba;Password=253090;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>

</configuration>
